<div
style="display: inline-flex; flex-direction: row; font-size: 40px; width: 90vw; margin:20px 0;">
<hr style="width: 30%; height: 2px; border: none; background-color: #5F6A61">
<i class="twicon-flying-fish"></i>
<hr style="width: 5%; height: 2px; border: none; background-color: #5F6A61">
<i class="twicon-flying-fish"></i>
<hr style="width: 10%; height: 2px; border: none; background-color: #5F6A61">
<i class="twicon-flying-fish"></i>
<hr style="width: 45%; height: 2px; border: none; background-color: #5F6A61">
</div>