<div id="blog-code" class="tm-topsection">
    <div class="tm-page-header-flex">
        <div class="tm-page-head-h2">
            <h2 id="tm-head-h2" class="tm-text-blue mt-2">Notes for Programming</h2>
        </div>
        <div id="tm-backsign" class="tm-site-back-box tm-bg-light " data-linkid="0" data-articleid="0"
            data-align="left">
            <img id="tm-backimg" src="../../../../img/backleft.png">
        </div>
    </div>
</div>

<div id="about" class="tm-topsection">
    <header class="tm-site-header-box" data-color="black7">
        <h1 class="tm-site-title">About Me</h1>
        <p class="mb-0 tm-site-subtitle">What doesn't kill you makes a fighter</p>
    </header>
</div>

<script>
    chooseTopBar();
    function chooseTopBar() {
        if ($('.tm-top-container').attr('data-tag')) {
            let activatetag = $('.tm-top-container').attr("data-tag");
            $('#' + activatetag).show();
        }
    }
</script>