<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Being Through</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
  <link rel="stylesheet" type="text/css" href="../css/output.css">
  <link rel="stylesheet" type="text/css" href="../css/twicon.css">
</head>

<body>
  <!-- Loader -->
  <div id="loading"></div>

  <div class="tm-main-container">
    <div class="tm-top-container" data-tag="about">
      <!-- Site header -->
      
    </div>
    <!-- tm-top-container -->

   
    <!-- Site content -->
    <div class="tm-content">

      <!-- Section 0 Introduction -->
      <section class="tm-section tm-section-0" data-type="0">
        <h2 class="mb-3 tm-section-title">Introduction</h2>
        <div class="tm-textbox" data-color="black7">
          <p>常常把簡單的事情變得很複雜，繞一繞走回原點以後才發現原來目標其實不遠。但偶爾迷路也挺好的，有機會認識到許多不同的人，順便撿一些冷知識，或者幸運的話，就能收藏到重要的資訊。</p>
          <p class="mb-0">
            轉職程式之路說起來不是很輕鬆，有一大堆的技能樹要學習，簡單說是把資料漂亮且安全的呈現在眾人眼前，但真的寫起來還是得跌跌撞撞的踩一些坑，誤信幾個偏方，終於能如願呈現的時候，嘿!還蠻有成就感的!</p>
        </div>
        <!-- Menu -->
        <nav id="tmNav" class="tm-nav">
          <a class="tm-navbar-menu" href="#">Menu</a>
          <ul class="tm-nav-links">
            <li class="tm-nav-item active">
              <a href="#" data-linkid="0" data-articleid="0" data-align="right" class="tm-nav-link">About Me</a>
            </li>
            <li class="tm-nav-item">
              <a href="#" data-linkid="1" data-articleid="0" data-align="right" class="tm-nav-link">Notes for
                Programming</a>
            </li>
            <li class="tm-nav-item">
              TO BE CONTINUE
            </li>
            <li class="tm-nav-item">
              TO BE CONTINUE
            </li>
          </ul>
        </nav>
      </section>
    </div>
    


    <div class="tm-bottom-container">
      <!-- Barcode -->
      <div id="barcode" class="tm-barcode-box">
        <a href="https://github.com/NoelleHsieh">
          <img width="150" height="150" src="../img/myqr.png" boder="0">
        </a>
      </div>

      <!-- Footer -->
      <footer>
        || Copyright &copy; 2018

        || design: <a href="https://www.51qianduan.com/">51前端</a> ||
      </footer>
    </div>
  </div>
  <script src="../index.bundle.js"></script>
  <script src="../background.bundle.js"></script>
</body>

</html>
