<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Being Through</title>
    <link rel="stylesheet" type="text/css" href="../css/output.css">
    <link rel="stylesheet" type="text/css" href="../css/twicon.css">
</head>

<body class="note-body">

    <div id="loading"></div>
    <div class="tm-main-container">

        <div class="tm-top-container" data-tag="blog-code">

        </div>

        <!-- Site content -->
        <div class="tm-content">

            <section id="notepage" class="tm-section tm-section-1" data-type="0">

            </section> <!-- id="notepage"-->
        </div>

    </div>


    <div class="ct" id="t1">
        <div class="ct" id="t2">
            <div class="ct" id="t3">
                <div class="ct" id="t4">
                    <div class="ct" id="t5">
                        <div class="ct" id="t6">
                            <div class="ct" id="t7">
                                <div class="ct" id="t8">
                                    <div class="ct" id="t9">
                                        <div class="ct" id="t10">
                                            <div class="menu-vertical">
                                                <div class="menu-item">
                                                    <a href="#t1">
                                                        <span class="icon" id="uno">
                                                            <i class="twicon-main-island"></i>

                                                        </span>
                                                        <span class="menu-text">HOME</span>
                                                    </a>
                                                </div>
                                                <div class="menu-item">
                                                    <a href="#t2">
                                                        <span class="icon" id="dos">
                                                            <i class="twicon-confucius-tmp"></i>
                                                        </span>
                                                        <div class="i1"><a href="#e1">NOTE</a></div>
                                                        <div class="i2" id="e1">
                                                            <div class="e1-item">
                                                                <a href="#t2">
                                                                    <i class="fa cib-kotlin"></i>
                                                                    <span> Kotlin </span>
                                                                </a>
                                                            </div>
                                                            <div class="e1-item">
                                                                <a>
                                                                    <i class="fa cib-android"></i>
                                                                    <span> Android </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="menu-item">
                                                    <a href="#t3">
                                                        <span class="icon" id="tres">
                                                            <i class="twicon-tapioca"></i>
                                                        </span>
                                                        <span class="menu-text">LIFE</span>
                                                    </a>
                                                </div>
                                                <div class="menu-item">
                                                    <a href="#t4">
                                                        <span class="icon" id="cuatro">
                                                            <i class="twicon-slipper"></i>
                                                        </span>
                                                        <span class="menu-text">MINE</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="page" id="p1">
                                                <section class="icon"><span class="title">Bolt</span><span
                                                        class="hint">Like
                                                        this pen to see
                                                        the magic!...<br> Just kidding, it won't happen anything but
                                                        I'll be
                                                        really happy If
                                                        you do so.</span></section>
                                            </div>
                                            <div class="page" id="p2">
                                                <section class="outline-list">
                                                    <section class="tm-section tm-section-1">
                                                        <div id="ch-li" class="tm-textbox list6" data-color="black7">
                                                            <ul>
                                                               
                                                                <li class="ch-li-item" onclick="addchapter('studies/kotlin/big_nerd_ranch_guide/ch9_KotlinStdlib.html')">Chapter 09 Kotlin Stdlib</li>
                                                                <li class="ch-li-item">Chapter 10 Collection</li>
                                                                <li class="ch-li-item">Chapter 18 Extension</li>
                                                            </ul>
                                                        </div>
                                                        <div id="ch-content"></div>
                                                    </section>
                                                </section>
                                            </div>
                                            <div class="page" id="p3">
                                                <section class="icon"><span class="title">Rocket</span></section>
                                            </div>
                                            <div class="page" id="p4">
                                                <section class="icon">

                                                </section>
                                            </div>
                                            <div class="page" id="p5">
                                                <section class="icon">
                                                    <span class="title">More</span>
                                                    <p class="hint">
                                                        <span>You love one page & CSS only stuff? </span><br />
                                                        <a href="https://codepen.io/hrtzt/details/pgXMYb/"
                                                            target="_blank">check this pen
                                                            "Pure CSS One page vertical navigation"</a>
                                                    </p>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="tm-bottom-container">
        <!-- TO BE CONTINEUE-->
    </div>
    <script src="../index.bundle.js"></script>
    <script src="../background.bundle.js"></script>
</body>

</html>